global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1h
    timeout server 1h

frontend mqtt_tcp
    bind *:1883
    default_backend skytree_mqtt_tcp

backend skytree_mqtt_tcp
    balance roundrobin
    option tcp-check
    server skytree-node1 skytree-node1:1883 check
    server skytree-node2 skytree-node2:1883 check
    server skytree-node3 skytree-node3:1883 check

frontend http_api
    bind *:9526
    mode http
    option httplog
    default_backend skytree_http_api

backend skytree_http_api
    mode http
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200
    server skytree-node1 skytree-node1:9526 check
    server skytree-node2 skytree-node2:9526 check
    server skytree-node3 skytree-node3:9526 check
